extends  layout.pug
block css
  link(rel="stylesheet" href="../../../../../public/dashboard.css") 
block content
  .content-wrapper(style='background-color: #0c062b')
    .content-header    
      .container-fluid
        .row.mb-2
          //- .col-sm-6
          .title-1
            h1.dashboard-title(contenteditable='true') #{dashboards.title}
            button.btn.btn-tool(type="button")
              span.material-icons.md-light(href="#") edit
          //- a.nav-link(data-widget='pushmenu' href='#' role='button' )  expand                     
          br
          h1.dashboard-description(contenteditable='true') #{dashboards.description}            
    .content
      a.create-chart(href="#") + Add Chart
    
    if dashboards.charts.size!==0
      -var num =0;
      .number-wrapper
        each item in dashboards.charts
          if item.type==='number'
            .small-box.bg-info
              .inner
                h3.word(id=`number-${num}`)
                //- p % 
                .btn-group           
                  button.btn.btn-tool(type="button",value=`${item._id.valueOf()}`,name='edit')
                    span.material-icons settings
                        
                  button.btn.btn-tool(type="button",value=`${item._id.valueOf()}`,name='delete')
                    span.material-icons delete
              .icon
                i.ion.ion-bag
              a.small-box-footer #{item.title}
                
          -num= num+1
      
      //- -var graphNum = dashboards.charts.length - num
      //-   p test
      //-   p #{graphNum}
      -var count = 0      
        //- each item in dashboards.charts
      .graph-wrapper
        .graph-wrapper-left
          -for(let i = 0; i < dashboards.charts.length; i++)            
            if dashboards.charts[i].type==='line'
              if count === 0           
                .content-chart
                  .card.card-primary.card-outline(style='background-color: #130d40; color: #ffffff')
                    .card-header
                      h3.card-title
                        i.far.fa-chart-bar #{dashboards.charts[i].title}                   

                      .card-tools
                        button.btn.btn-tool(type="button",value=`${dashboards.charts[i]._id.valueOf()}`,name='edit')
                          span.material-icons settings
                        
                        button.btn.btn-tool(type="button",value=`${dashboards.charts[i]._id.valueOf()}`,name='delete')
                          span.material-icons delete
                    
                    .card-body(id=`line-chart-${i}`, style="height: 300px")
                  -count= count+1              
              else
                -count= count-1 
        -var count = 1
        .graph-wrapper-right
          -for(let i = 0; i < dashboards.charts.length; i++)            
            if dashboards.charts[i].type==='line'
              if count === 0           
                .content-chart
                  .card.card-primary.card-outline(style='background-color: #130d40; color: #ffffff')
                    .card-header
                      h3.card-title
                        i.far.fa-chart-bar #{dashboards.charts[i].title}                   

                      .card-tools
                        button.btn.btn-tool(type="button",value=`${dashboards.charts[i]._id.valueOf()}`,name='edit')
                          span.material-icons settings
                        
                        button.btn.btn-tool(type="button",value=`${dashboards.charts[i]._id.valueOf()}`,name='delete')
                          span.material-icons delete
                    
                    .card-body(id=`line-chart-${i}`, style="height: 300px")
                  -count= count+1              
              else
                -count= count-1

block js  
  script(type='text/javascript').
    let data = !{JSON.stringify(dashboards)}        
  script(src="/public/dashboard.js")